@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 style="color:purple;margin-left:450px;">KATEGORİLER</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>
<br />
<a href="/AdminCategory/AddCategory" class="btn btn-info">Yeni Kategori</a>
<br />
<br />
<table class="table table-hover">

    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        @*<th>Açıklama</th>*@
        @*<th>Durum</th>*@
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            @*<td>@item.CategoryDescription</td>*@
            @*<td>@item.CategoryStatus</td>*@
            <td><a href="/AdminCategory/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminCategory/EditCategory/@item.CategoryID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/AdminCategory/CategoryHeading/@item.CategoryID" class="btn btn-primary">Başlıklar</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {
        {"page-link"}
    }
})
