@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string color = "";
    string checkStatus = "";
    string statusColor = "";
}
<!DOCTYPE html>
<br />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<a href="/Heading/Index/" class="btn btn-outline-dark" style="position:absolute;left:280px;width:210px">Tüm Başlıklar</a>
<a href="/Heading/ActiveHeadingList/" class="btn btn-outline-dark" style="position:absolute;left:500px;width:210px">Yayında Olan Başlıklar</a>
<a href="/Heading/AddHeading/" class="btn btn-outline-success" style="position:absolute;right:30px;width:210px">Yeni Başlık</a>
<br />
<html>
<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h2 class="card-title"style="color:deeppink;margin-left:500px;"><b>BAŞLIK İŞLEMLERİ</b></h2>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr class="w3-pink">
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 20%">
                                Oluşturan Yazar
                            </th>
                            <th style="width: 10%">
                                Durum
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            switch (item.Category.CategoryName)
                            {
                                case "Film":
                                    color = "badge badge-primary";
                                    break;
                                case "Dizi":
                                    color = "badge badge-success";
                                    break;
                                case "Eğitim":
                                    color = "badge badge-warning";
                                    break;
                                case "Kitap":
                                    color = "badge badge-danger";
                                    break;
                                case "Spor":
                                    color = "badge badge-info";
                                    break;

                                default:
                                    color = "badge badge-secondary";
                                    break;
                            }
                            <tr>
                                <td>
                                    @item.HeadingID
                                </td>
                                <td>
                                    <b>
                                        @item.HeadingName
                                    </b>
                                    <br />
                                    <small>
                                        <i>@item.HeadingDate.ToShortDateString()</i>
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@item.Writer.WriterImage" style="float:left">
                                            <b style="position:absolute;margin:15px 15px">@item.Writer.WriterName @item.Writer.WriterSurName</b>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    @switch (item.HeadingStatus)
                                    {
                                        case true:
                                            statusColor = "badge badge-success";
                                            break;
                                        case false:
                                            statusColor = "badge badge-danger";
                                            break;
                                    }
                                    <span class="@statusColor">@item.HeadingStatus</span>
                                </td>

                                <td class="project-state">
                                    <span class="@color" ><a style="color:black" href="/Heading/HeadingByCategory/@item.CategoryID">@item.Category.CategoryName</a></span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingID">
                                        <i class="fas fa-folder">
                                        </i>
                                        İçerik
                                    </a>
                                    <a class="btn btn-warning btn-sm" href="/Heading/EditHeading/@item.HeadingID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a id="btn" class="btn btn-danger btn-sm" href="/Heading/StatusHeading/@item.HeadingID">
                                        <i class="fas fa-trash">
                                        </i>
                                        @if (item.HeadingStatus == true)
                                        {
                                            checkStatus = "Pasif Yap";

                                        }
                                        else
                                        {

                                            checkStatus = "Aktif Yap";
                                        }

                                        @checkStatus

                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</body>
</html>
@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new PagedListRenderOptions
{
    LiElementClasses=new List<string>
    {
        {"page-link"}
    }
})