@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Başlık Ekleme Sayfası</h2>
<br />
<style>
    .ValidationColor {
        color: red;
    }
</style>
@using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
{

    <div class="form-group">
        @Html.Label("Başılk Adı:")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "ValidationColor " })
        <br />
        @Html.Label("Kategori:")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc,
       new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "ValidationColor" })
        <br />

        <button class="btn btn-success">Başlığı Oluştur</button>
        <br>
    </div>

}